@if $hide_vote_tab_in_navigation == "true" {
  #navigation-bar .nav-item_votes {
    display: none;
  }
}

@if $bells_and_whistles_styling == "true" {
  .topic-votes {
    &__wrapper {
      border: 1px solid var(--primary-low);
      border-radius: 5px;
      padding: var(--space-1);

      &.--has-votes {
        color: var(--tertiary);
        font-weight: bold;
        background: linear-gradient(
          to bottom,
          rgb(var(--tertiary-rgb), 0.14),
          rgb(var(--tertiary-rgb), 0.08)
        );
        border: 1px solid var(--tertiary-high);
      }

      &:not(.--has-votes) {
        color: var(--primary-low-mid);
      }

      &.--is-hot {
        color: var(--danger);
        background: linear-gradient(
          to bottom,
          rgb(160, 0, 0.8, 0.14),
          rgb(160, 0, 0.8, 0.08)
        );
        border: 1px solid var(--danger-hover);
      }
    }

    &__voted-icon {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(60%, -60%) rotate(45deg);
      height: 1.25em;
      width: 1.25em;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--secondary);
      border-radius: 100%;
      border: 1px solid var(--tertiary-high);

      .--is-hot & {
        border: 1px solid var(--danger-hover);
      }

      .d-icon {
        height: 0.75em;
        width: 0.75em;
      }
    }
  }
}

.topic-list {
  .topic-votes {
    text-align: center;

    &__wrapper {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: var(--space-1);
      margin-inline: 1rem;
    }

    &__count {
      line-height: 1;
      padding-right: 0.15rem;
    }
  }
}
